@*@model Insure.Partners.Hub.Models.Dto.Partner*@

<div class="modal" tabindex="-1" role="dialog" style="display:block;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Partner Details</h5>
                <a href="@*@Url.Action(" Index", "YourController" )*@#" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                <p><strong>Address:</strong> @Model.Address</p>
                <p><strong>Created On:</strong> @Model.CreatedAtUtc</p>
                <p><strong>Create By:</strong> @Model.</p>
                <!-- Add other details as needed -->
            </div>
        </div>
    </div>
</div>